<% content_for :header do %>
<section class="hero is-warning" style="background-color:#696969; height: 80;text-align: center;">
  <div >
    <div class="container" style="height:60px;">
      <h1 class="title" style="margin-top: 20px;">
        Sell a Product
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">
  <%= render 'form', product: @product %>
</div>


<%= link_to 'Back', products_path %>